.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}
#newcommands {
  display: none;
}
.drag-hover {
  background-color: lightgreen;
}
doc img {
  max-width: 100%;
}
.btn-panel {
  position: fixed;
  top: 50vh;
}
.btn-panel-left {
  left: 0;
}
.btn-panel-right {
  right: 0;
}
.control-btn-group {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
}
*:hover > .control-btn-group {
  display: initial;
}
.chunk-container {
  position: relative;
  border-top: solid transparent 1px;
  border-bottom: solid transparent 1px;
}
.chunk-container:hover {
  border-top: solid lightgrey 1px;
  border-bottom: solid lightgrey 1px;
}
